@charset "UTF-8";

body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "돋움", Dotum, "맑은 고딕", "Malgun Gothic";
	font-size: 12px;
	color: #666;
	background: #fff;
}

.clfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* div {	border: 1px solid #ccc; } /* 테두리 표현 */  */

/* header */
#header {
	position: relative;
	width: 100%;
   	min-width: 1048px;
	height: 242px;
}

#header_wrap {
	width: 1008px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

#header_wrap #gnb {
	width: 100%;
	height: 137px;
}

#header_wrap #gnb_menu {
	width: 100%;
	height: 105px !important;
	position: relative;
}

#util_menu {
	position: relative;
	width: 1008px;
	margin: 0 auto;
	height: 38px;
}

#gnb h1 {
	float: left;
	margin: 0 auto;
	clear: both;
}

.top_left {
	display: inline-block;
}

#util_menu .top_left .clfix {
	margin: 0;
	padding: 0;
	width: 68px;
	height: 36px;
	vertical-align: baseline;
	list-style: none;
}

#util_menu .top_right .clfix {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 35px;
	vertical-align: baseline;
	list-style: none;
} 

#util_menu .top_left .clfix li {
	float: left;
	margin: 5px 7px 0 0;
}

#util_menu .top_left .clfix li a {
	display: inline-block;
	padding: 9px 7px;
}

#util_menu .top_left .clfix li a span.melon_ticket {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 47px;
	height: 13px; 
}

#util_menu .top_left .clfix li a span.melon_ticket {
	background: url(https://cdnimg.melon.co.kr/resource/image/web/common/head_menu_161206.png)
		no-repeat;
	background-position: 0 -31px;
}

#util_menu .top_left .clfix li a span.melon_ticket:hover {
	background-position: -150px -31px;
}

#util_menu .top_right {
	float: right;
	margin-top: 3px;
	width: 313px;
	height: 35px;
}

/* 이용권구매 */
#util_menu .top_right .clfix li.first_child {
	position: relative;
    float: left;
	padding-left: 0;
	margin: 0 7px 0 0;
	width: 93px;
	height: 35px;
	text-align: center;
}
#util_menu .top_right .clfix li.first_child a {
	margin: 0;
	padding: 11px 7px;
	display: inline-block;
}
#util_menu .top_right ul li a span.use {
	width: 79px;
	height: 13px;
	background-position: 0 -60px;
}
#util_menu .top_right ul li a span.use:hover {
	background-position: -150px -60px; 
}

/* 멜론라운지 */
#util_menu .top_right .clfix li.second_child {
	position: relative;
    float: left;
	padding-left: 9px;
	margin: 0 7px 0 0;
	width: 68px;
	height: 35px;
	text-align: center;
	background: url(https://cdnimg.melon.co.kr/resource/image/web/common/bl_head_menu.jpg)
				 0px 12px no-repeat;
}
#util_menu .top_right .clfix li.second_child a {
	margin: 0;
	padding: 11px 7px;
	display: inline-block;
}
#util_menu .top_right ul li a span.lounge {
	width: 54px;
	height: 12px;
	background: url(https://cdnimg.melon.co.kr/resource/image/web/common/head_menu_benefit.png);
}
#util_menu .top_right ul li a span.lounge:hover {
	background-position: 0 12px; 
}

/* 이벤트 */
#util_menu .top_right .clfix li.third_child {
	position: relative;
    float: left;
	padding-left: 9px;
	margin: 0 7px 0 0;
	width: 46px;
	height: 35px;
	text-align: center;
	background: url(https://cdnimg.melon.co.kr/resource/image/web/common/bl_head_menu.jpg)
				 0px 12px no-repeat;
}
#util_menu .top_right .clfix li.third_child a {
	margin: 0;
	padding: 11px 7px;
	display: inline-block;
}
#util_menu .top_right ul li a span.event {
	width: 32px;
	height: 12px;
	background-position: 0 -122px;
}
#util_menu .top_right ul li a span.event:hover {
	background-position: -150px -122px; 
}

/* 공지사항 */
#util_menu .top_right .clfix li.last_child {
	position: relative;
    float: left;
	padding-left: 0;
	padding-right: 0;
	margin: 0; 
	width: 67px;
	height: 35px;
	text-align: center;
	background: url(https://cdnimg.melon.co.kr/resource/image/web/common/bl_head_menu.jpg)
				 0px 12px no-repeat;
}
#util_menu .top_right .clfix li.last_child a {
	margin-left: 8px;
	padding: 11px 7px;
	display: inline-block;
}
#util_menu .top_right ul li a span.notice {
	width: 44px;
	height: 12px;
	background-position: 0 -154px;
}
#util_menu .top_right ul li a span.notice:hover {
	background-position: -150px -154px; 
}

/* top_menu 공통 */
#util_menu .top_right ul li a span {
	display: inline-block;
	margin: 0;
	padding: 0;
	background: url(https://cdnimg.melon.co.kr/resource/image/web/common/head_menu_201014.png)
				 no-repeat;
}

/* 검색창 */
#gnb fieldset {
	border: 0;
	display: inline;
	position: relative;
	float: left;
	width: 322px !important;
	height: 40px;
	margin: 36px 0 0 11px;
	padding: 0;
	background: url(https://cdnimg.melon.co.kr/resource/image/web/common/bg_cmn_search322.png)
				 no-repeat;
}
#gnb fieldset input[type=text] {
	float: left;
	display: block; 
	padding: 3px 7px 0 0;
	margin: 7px 0 0 18px;
	height: 20px; 
	line-height: 20px;
	border-style: none;
 	font-size: 12px;
	color: #999;
 	font-family: dotum,"돋움","Apple Gothic",sans-serif;
}
#gnb fieldset input::placeholder {
	color: #999;
}
#gnb fieldset input[type=submit] {
	float: right;
	width: 45px;
	height: 40px;
	border: 0;
	padding: 0;
	margin: 0;
	background: url(https://cdnimg.melon.co.kr/resource/image/web/common/btn_search_bar.png)
				 no-repeat 0 0;
	vertical-align: top;
}
#gnb fieldset input[type=submit]:hover {
	background-position: 0 -40px; 
 	cursor: pointer;
}  

/* 급상승 */
.realtime {
	float: left;
	margin-top: 45px;
	padding-left: 9px; 
	width: 226px;
}

.realtime span.timeUp {
	float: left;
	display: block;
	width: 42px;
	height: 16px;
	margin: 3px 0 0 3px;
	background: url(https://cdnimg.melon.co.kr/resource/image/web/main/bg_loce_151207.png)
				 no-repeat;
}

/* 롤링바 */
#sliderbox {
	float: left;
	width: 162px;
	height: 20px;
	margin: 3px 0 0 10px;
	overflow: hidden;
}
#slider {
	padding: 0;
	margin: 0;
	list-style-type: none;
	
	position: relative;
}
#slider li {
	position: absolute;
	width: 162px;
}
#slider li strong {
	float: left;
	margin: 1px 1px 0 0;
	width: 19px;
	height: 14px;
	font-size: 12px;
	color: #777;
	padding-right: 4px;
	text-align: right;
	line-height: 15px;
}
#slider li a {
	float: left;
	text-decoration: none;
	width: 96px;
	height: 14px;
	margin: 1px 0 0 0;
	color: #333;
}
span.icon {
	display: inline-block;
	width: 7px;
	height: 7px;
	margin: 5px 0 0 2px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/bg_sprite_realtime_search.png")
					no-repeat 0 -155px;
}
span.newIcon {
	width: 22px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/bg_sprite_realtime_search.png")
					no-repeat 0 -169px;
}
span.viwesNum {
	display: inline-block;
	margin: 0;
	color: #ff4e78;
	font-size: 10px;
	line-height: 13px;
}
/* hiddenBoard */
div.hidden {
	float: left;
	margin: -9px 0 0 50px;
	width: 166px;
	height: 253px;
	border: 1px solid #ccc;	
	background-color: #fff;
	visibility: hidden;
	position: absolute;
	z-index: 1;
}
div.realtime:hover div.hidden {
	visibility: visible;
}
div.realtime:hover div.rollingBar {
	z-index: -1;
}
.hiddenBoard {
	display: inline-block;
	width: 162px;
	height: 20px;
	margin: 11px 0 0 4px;
}
.hiddenBoard ul { 
	list-style: none;
	width: 162px;
	height: 20px;
	padding: 0;
	margin: 0;
} 
.hiddenBoard ul li {
	width: 164px;
	display: inline-block;
	margin: 0 0 5px 0;
}
.hiddenBoard ul li strong.num {
	float: left;
	margin: 1px 5px 0 0;
	width: 14px;
	height: 14px;
	font-size: 12px;
	padding-right: 5px;
	color: #777;
	text-align: right;
}
.hiddenBoard ul li a {
	float: left;
	width: 96px;
	height: 14px;
	color: #333;
	font-size: 12px;
	margin: 1px 1px 0 0;
	vertical-align: top;
	text-decoration: none;
}
.hiddenBoard ul li span.viwes {
	float: left;
}
.hiddenBoard ul li span.viwes {
	display: inline-block;
	width: 40px;
	height: 14px;
	margin: 2px 0 0 1px;
	color: #3d464b;
}
.hiddenBoard ul li span.viwes .icon {
	float: left;
}
.hiddenBoard ul li span.viwes .icon {
	display: inline-block;
	width: 7px;
	height: 7px;
	margin: 3px 3px 0 0;
	background: url(https://cdnimg.melon.co.kr/resource/image/web/common/bg_sprite_realtime_search.png)
				 no-repeat 0 -155px;
}
.hiddenBoard ul li span.viwes .newIcon {
	display: inline-block;
	width: 21px;
	height: 7px;
	margin: 3px 3px 0 0;
	background: url(https://cdnimg.melon.co.kr/resource/image/web/common/bg_sprite_realtime_search.png)
				 no-repeat 0 -169px;
}
.hiddenBoard ul li span.viwes .viwesNum {
	float: left;
}
.hiddenBoard ul li span.viwes .viwesNum {
	display: inline-block;
	margin: 0;
	color: #ff4e78;
	font-size: 10px;
	line-height: 13px;
	vertical-align: top;
	font-weight: normal;
}

/* 메거진 */
#mg_banner {
	float: right;
	width: 280px;
	height: 75px;
	margin: 22px 0;
/* 	overflow: hidden; */
	overflow: visible;
}
#mg_slider {
	padding: 0;
	margin: 0;
	position: relative;
}
div#mg_banner a {
	position: absolute;
}

div#mg_banner a img {
	width: 280px;
	height: 75px;
}
/* 메거진 버튼 */
#mg_button {
	position: absolute;
	top: 47px;
	right: 0;
}
#left_button {
 	float: left;
}
#left_button {
 	display: inline-block;
	border: 0;	
	width: 20px;
	height: 17px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/main/bg_btn_page02.png")
					no-repeat left -220px;
	cursor: pointer;
}
#left_button:hover {
	background: url("https://cdnimg.melon.co.kr/resource/image/web/main/bg_btn_page02.png")
					no-repeat left -238px;
}
#right_button {
	float: left;
}
#right_button {
	display: inline-block;
	border: 0;	
	width: 20px;
	height: 17px;
	margin-left: -2px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/main/bg_btn_page02.png")
					no-repeat right -220px;
	cursor: pointer;
}
#right_button:hover {
	background: url("https://cdnimg.melon.co.kr/resource/image/web/main/bg_btn_page02.png")
					no-repeat right -238px;
}

/* 헤더 네비 */
#gnb_menu ul {
	float: left;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}
#gnb_menu ul li {
	float: left;
	margin-left: 15px;
	line-height: 0;
}
#gnb_menu ul li a {
	cursor: pointer;
}
#gnb_menu ul li div {
	display: block;
	float: left;
	position: absolute;
	top: 55px;
	left: 41px;
	width: 530px;
	height: 50px;
}
#gnb_menu ul .nav1 {
	margin-left: 0;
}
#gnb_menu ul .nav1 .menu1 {
	position: relative;
	display: block;
	width: 72px;
	height: 55px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_201008.png")
					no-repeat 0 0;
	background-position: 0 0;
}
#gnb_menu ul .nav2 .menu2 {
	position: relative;
	display: block;
	width: 72px;
	height: 55px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_201008.png")
					no-repeat 0 0;
	background-position: -87px 0;
}
#gnb_menu ul .nav3 .menu3 {
	position: relative;
	display: block;
	width: 72px;
	height: 55px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_201008.png")
					no-repeat 0 0;
	background-position: -174px 0;
}
#gnb_menu ul .nav4 .menu4 {
	position: relative;
	display: block;
	width: 60px;
	height: 55px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_201008.png")
					no-repeat 0 0;
	background-position: -261px 0;
}
#gnb_menu ul .nav5 .menu5 {
	position: relative;
	display: block;
	width: 62px;
	height: 55px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_201008.png")
					no-repeat 0 0;
	background-position: -336px -140px;
}
#gnb_menu ul .nav6 .menu6 {
	position: relative;
	display: block;
	width: 85px;
	height: 55px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_201008.png")
					no-repeat 0 0;
	background-position: -413px 0;
}
#gnb_menu ul .nav7 .menu7 {
	position: relative;
	display: block;
	width: 55px;
	height: 55px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_201008.png")
					no-repeat 0 0;
	background-position: -513px 0;
}
#gnb_menu ul .nav8 .menu8 {
	position: relative;
	display: block;
	width: 86px;
	height: 55px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_201008.png")
					no-repeat 0 0;
	background-position: -583px 0;
}
#gnb_menu ul .nav9 .menu9 {
	position: relative;
	display: block;
	width: 45px;
	height: 55px;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_201008.png")
					no-repeat 0 0;
	background-position: -684px 0;
}
/* 서브 네비 */
#gnb_menu ul li div.sub_menu ul {
	float: left;
	margin: 7px 0 0 0;
	width: auto;
}
#gnb_menu ul li div.sub_menu ul .sub1 {
	float: left;
	position: relative;
	margin-left: 0;
	width: 109px;
	height: 34px;
}
#gnb_menu ul li div.sub_menu ul .sub1 a {
	display: block;	
	padding: 11px 12px 0 12px;
	cursor: pointer;
	height: 23px;	
	background: url("//cdnimg.melon.co.kr/resource/image/web/common/bg_menu_sub_200521.png")
					no-repeat 11px -349px;
}
#gnb_menu ul li div.sub_menu ul .sub2 {
	float: left;
	position: relative;
	margin-left: 4px;
	width: 91px;
	height: 34px;
}
#gnb_menu ul li div.sub_menu ul .sub2 a {
	display: block;	
	padding: 11px 12px 0 12px;
	cursor: pointer;
	height: 23px;	
	background: url("//cdnimg.melon.co.kr/resource/image/web/common/bg_menu_sub_200521.png")
					no-repeat -102px -309px;
}
#gnb_menu ul li div.sub_menu ul .sub3 {
	float: left;
	position: relative;
	margin-left: 0;
	width: 108px;
	height: 34px;
} 
#gnb_menu ul li div.sub_menu ul .sub3 a {
	display: block;	
	padding: 11px 12px 0 12px;
	cursor: pointer;
	height: 23px;	
	background: url("//cdnimg.melon.co.kr/resource/image/web/common/bg_menu_sub_200521.png")
					no-repeat -193px -309px;
}
#gnb_menu ul li div.sub_menu ul .sub4 {
	float: left;
	position: relative;
	margin-left: 0;
	width: 137px;
	height: 34px;
}
#gnb_menu ul li div.sub_menu ul .sub4 a {
	display: block;	
	padding: 11px 12px 0 12px;
	cursor: pointer;
	width: 113px;
	height: 23px;	
	background: url("//cdnimg.melon.co.kr/resource/image/web/common/bg_menu_sub_200521.png")
					no-repeat -301px -309px;
}
#gnb_menu ul li div.sub_menu ul .sub5 {
	float: left;
	position: relative;
	margin-left: 0;
	width: 51px;
	height: 34px;
}
#gnb_menu ul li div.sub_menu ul .sub5 a {
	display: block;	
	padding: 11px 12px 0 12px;
	cursor: pointer;
	width: 89px;
	height: 23px;	
	background: url("//cdnimg.melon.co.kr/resource/image/web/common/bg_menu_sub_200521.png")
					no-repeat -438px -309px;
}
/* 마이 메뉴 */
#gnb_menu .sub_gnb {
	float: right;
	width: auto;
	list-style: none;
}
#gnb_menu .sub_gnb li {
	float: left;
	margin-left: 15px;
}
#gnb_menu .sub_gnb li a {
	position: absolute;
	left: 937px;
	height: 55px;
	width: 71px;	
	cursor: pointer;
	background: url("https://cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_201008.png")
					no-repeat 0 0;
	background-position: -937px 0;
}
#gnb_menu .sub_gnb li a:hover {
	background-position: -937px -70px;
}

/* content */
#conts_section {
	position: relative;
	width: 1008px;
	height: 1758px;
	margin: 0 auto;
	padding: 0 20px;
}
#conts_section p {
	color: blue;
}

/* footer */
#footer {	width: 100%; }

#footer .footer_cont {
	width: 1008px;
	height: 204px;
	margin: 0 auto;
}